<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Nós</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button routerLink="/home">Home</ion-button>

  <ion-card>
    <ion-card-header>Centro Universitário Augusto Motta</ion-card-header>
    <ion-card-content>
      Turma: ADS0501M<br>
      Equipe:<br>
      - Tássia Lima Lago Barbosa<br>
      - Leandro César dos Santos<br>
      - Guilherme Henrique Rabelo<br>
      - Renan Fernandes Teixeira<br>
      Contatos: (inserir e-mails aqui)<br>
      <p>tassiabarbosasouunisuam.com.br</p>
      <p>guilhermecustodiosouunisuam.com.br</p>
    </ion-card-content>
  </ion-card>

</ion-content>
